.ticket-list-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

table {
  width: 100%;
}

table td {
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: flex-start;

  mat-form-field {
    min-width: 180px;
  }
}
